.section1 {
    background-image: url("../images/bg.jpeg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 75vh;

    .main-nav {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
        padding-left: 10rem !important;
        padding-right: 10rem !important;
        background-color: transparent !important;
    }

    .main-title {
        margin-top: 3rem;
        color: #fff;
    }

    p.main-sub-title, .section1-caption {
        color: #fff!important;

    }

}

.inner-wrapper-sections {
    margin: 0 auto;
    width: 60%;
}

@media screen and (max-width: 575px){
    .section1{
        height: auto;
    }
}